/* Gallery section animation*/
body{
    background-color: #021a40;
    width: auto;
}

p{
    font-weight: normal;
    line-height: 30px;
    padding-bottom: 15px;
}


.photo-container{
    position: relative;
    line-height: 0;
    display: flex;
    float: left;
    margin-bottom: 2em;
    width: 300px;
    height: 300px;
    margin: 15px auto;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(0, 1, 31);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    margin-right:50px;
    margin-bottom:50px

}

.photo-container .photo img{
    width: 90%;
    display: block;
    margin:auto;
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo-container:hover img{
    transform: scale(1.1);
}

.photo-overlay{
    color:#fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0,0,0,0.5);
}

.photo-overlay:hover{
    opacity: 1;
}


.whitehead{
    color: #c9bdaa;
    margin-top: 5%;
    line-height: 30px;
}

/* Gallery section - transition*/
.photo-overlay{
    opacity: 0;
    transition: opacity 1s;
    border-radius: inherit;
    cursor: pointer;
}

.photo-overlay p{
    width: 100%;
    height: 100%;
    color: #fff;
}

footer, nav{
    display: block;
}

.text-center{
    text-align: center;
}

.navbar{
    height: 105px;
    max-height: 340;
    display: inline-block;
}

section{
    padding-top: 50px;
    margin-top: 50px;
}